{{#*inline "content"}}
<header class="mv3 mb4-ns">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center">
        <h1>About</h1>
    </div>
</header>
<section class="purple">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <p>
            <b>Thanks</b> is a place for us to give thanks to everyone who
            contributes to the <a href="https://www.rust-lang.org/">Rust
            project</a>.
        </p>
        <p>
            Currently, we are only tracking commits to
            <code>rust-lang/rust</code> and most of the related submodules. In
            the future, we have plans to add commit tracking for more
            repositories under the Rust project generally, and possibly even
            tracking other kinds of contributions than commits, as they're also
            important!
        </p>
        <p>
            This project was inspired by <a
            href="http://contributors.rubyonrails.org/">Rails Contributors</a>
            and is <a href="https://github.com/rust-lang/thanks/issues">hosted
            on GitHub</a>. Please file any bugs or ask for new features there.
        </p>
        <p>
            If you don't wish for your name to be here, or if your name is
            listed twice, or has changed, or anything else, please either <a
            href="https://github.com/rust-lang/thanks/issues">open an issue</a>
            if it's okay to publicly discuss, or
            <a href="mailto:release@rust-lang.org">email the release team</a>
            if you'd prefer to be more discreet. We are happy to remove or
            make edits where appropriate. You can also submit a pull request to
            update the <code>.mailmap</code> file in the <a
            href="https://github.com/rust-lang/rust/">Rust repository</a>.
        </p>
    </div>
</section>
{{/inline}}
{{~> container ~}}
