name: CI
on:
  push: {}
  pull_request: {}
  workflow_dispatch: {}
  schedule:
    - cron: "0 0 * * *" # Every day at 00:00 UTC

permissions:
 contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v6

      - name: Install Rust
        run: |
          rustup update stable
          rustup override set stable

      - name: Build static website
        run: cargo run --release

      - name: Upload artifact
        if: github.ref == 'refs/heads/master' && github.repository_owner == 'rust-lang'
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./output

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' && github.repository_owner == 'rust-lang'
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
